<div class="panel panel-primary" *ngIf='product'>
  <div class="panel-heading">
    {{pageTitle + ': '+ product?.productName}}
    <!--no need to use ? here 
      beacause we already use ngif for checking undefined error for product. 
      
      "?" is called save navigation operator . return null if find null or undefiend.
       But not work in ngModel and not good to use for 4 or 5  propertise of same object(in this situation 
       you can use ngIf like above) -->
  </div>
  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div>